<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

<div class="welcome-container">
    <h1 class="welcome-heading">Dobrodošli cijenjeni kupci!</h1>
    <div class="button-container">
        <button class="custom-button" routerLink="/kupac"><i class="fa fa-user"></i> Kupci</button>
        <button class="custom-button" routerLink="/proizvodi"><i class="fa fa-cubes"></i> Proizvodi</button>
    </div>
</div>
<div class="second-container"></div>